{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}

    {# Vérifiez si l'utilisateur est connecté #}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h1>Bienvenue {{ app.user.nom }}</h1>
    {% else %}
        <p>Connectez-vous pour accéder à votre contenu.</p>
        {# Ajoutez ici un lien vers la page de connexion s'il est nécessaire #}
    {% endif %}

{% endblock %}
