{% extends 'base.html.twig' %}

{% block title %}Modifier une catégorie{% endblock %}

{% block body %}

    <h1>Modifier une catégorie</h1>

    {{ form_start(formEditCategorie) }}
        {{ form_row(formEditCategorie.nomCategorie) }}
        
        {{ form_row(formEditCategorie.valider) }}
    {{ form_end(formEditCategorie) }}

{% endblock %}